@{
    Layout = "_LayoutAdmin";
    List<int> deletes = new List<int>();
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="align-self-center">Thông Tin Phiếu Thu Chi</h4>
    <!-- FORM DATA -->
    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="row ">
                        <div class="col-md-4">
                            <label class="form-label m-0 p-0">Mã phiếu</label>
                            <input class="form-control h-50" id="phieuThuChi_MaPhieu" type="number" placeholder="" autofocus />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label m-0 p-0">Ngày tạo</label>
                            <input class="form-control h-50" id="phieuThuChi_NgayTao" type="text" placeholder="" autofocus />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label m-0 p-0">Ngày thanh toán</label>
                            <input class="form-control h-50" id="phieuThuChi_NgayThanhToan" type="text" placeholder="" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label m-0 p-0">Tổng tiền</label>
                            <input class="form-control h-50" id="phieuThuChi_TongTien" placeholder="" type="text" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label m-0 p-0">Ghi chú</label>
                            <input class="form-control h-50" id="phieuThuChi_GhiChu" placeholder="" type="text" />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label  m-0 p-0">Loại phiếu</label>
                            <select name="phieuThuChi_LoaiPhieu" id="phieuThuChi_LoaiPhieu" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                <option>Tất cả</option>
                                <option>Hóa đơn thu</option>
                                <option>Hóa đơn chi</option>
                                <option>Hóa đơn tạm ứng</option>
                                <option>Hóa đơn khác</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label  m-0 p-0">Trạng thái</label>
                            <select name="phieuThuChi_TrangThai" id="phieuThuChi_TrangThai" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                <option>Tất cả</option>
                                <option>Thành công</option>
                                <option>Thất bại</option>
                                <option>Chờ xử lý</option>
                                <option>Hủy bỏ</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label  m-0 p-0">Hình thức thanh toán</label>
                            <select name="phieuThuChi_HinhThucThanhToan" id="phieuThuChi_HinhThucThanhToan" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                <option>Tất cả</option>
                                <option>Tiền mặt</option>
                                <option>Thẻ tín dụng</option>
                                <option>Thẻ ghi nợ</option>
                                <option>Ví điện tử</option>
                                <option>Chuyển khoản ngân hàng</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label  m-0 p-0">Trung tâm</label>
                            <select name="phieuThuChi_MaTrungTam" id="phieuThuChi_MaTrungTam" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label  m-0 p-0">Giáo viên</label>
                            <select name="phieuThuChi_MaNhanVien" id="phieuThuChi_MaNhanVien" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /FORM DATA -->
    <!-- FORM Button -->
    <div class="pb-2 mt-2">
        <button type="button" id="btnCreatePhieuThuChi" class="btn-sm btn-primary ">
            Thêm
        </button>
        <span class="p-1"></span>
        <button type="button" id="btnDeletePhieuThuChi" class="btn-sm btn-primary ">
            Xóa
        </button>
        <span class="p-1"></span>
        <button type="button" id="btnResetPhieuThuChi" class="btn-sm btn-primary ">
            Làm mới
        </button>
        <span class="p-1"></span>
        <button type="button" id="btnUpdatePhieuThuChi" class="btn-sm btn-primary ">
            Sửa
        </button>
        <span class="p-1"></span>
        <button type="button" id="btnSearchPhieuThuChi" class="btn-sm btn-primary ">
            Tìm kiếm
        </button>
    </div>
    <!-- /FORM Button -->

    <!-- Table-->
    <div class="card">
        <div class="table-responsive p-3">
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th><input id="checkAll" type="checkbox" /></th>
                        <th>Loại phiếu</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Hình thức thanh toán</th>
                        <th>Ngày tạo</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--/Table-->

</div>
<!-- / Content -->
@section Scripts {
    <script src="/AdminAssets/module/support.js"></script>
    <script src="/AdminAssets/module/phieuThuChi.js"></script>
}
