@{
    Layout = "_LayouThuNgan";
    List<int> deletes = new List<int>();
}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="align-self-center">Trang Chủ</h4>

    <div class="row mx-1">
        <div class="col-lg-12 col-md-12 order-1">

        </div>
    </div>
</div>
<!-- / Content -->
@section Scripts {
    <link href="~/css/scrollbar.css" rel="stylesheet" />
    <script src="~/js/scrollbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/AdminAssets/module/support.js"></script>
    <script src="~/funcdata/funchocsinh.js"></script>
    <script src="~/funcdata/funcmonhoc.js"></script>
    <script src="~/funcdata/funclop.js"></script>
    <script src="~/funcdata/funcketqua.js"></script>
    <script src="/AdminAssets/module/trangChu.js"></script>
   

}

